/* body and container settings */
body{
    background-color: rgb(35, 35, 35);
}
.todo-container {
    margin-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.todo-header {
    font-size: 4rem;
    color: aliceblue;
}
/* buttons settings */
button {
    font-weight: bold;
    font-size: 1.7rem;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}
.delete-button, .move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
/* background color transition effects */
.add-button {
    background-color: rgb(0, 236, 0);
}
.add-button:hover {
    background-color: rgb(149, 239, 162);
}
.delete-button {
    background-color: red;
}
.delete-button:hover {
    background-color: rgb(255, 81, 81);
}
.move-button {
    background-color: blue;
}
.move-button:hover {
    background-color: rgb(11, 18, 150);
}
/* input settings */
input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    color: black;
}

/* list items settings */
ol {
    padding-left: 0px;
}
li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(219, 219, 219);
    margin-bottom: 10px;
    border: 3px solid lightblue;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    /* short cut for
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    */
}


