.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count-display {
    font-size: 5em;
    margin: 0;
}
.count-button {
    width: 100%;
    font-size: 2em;
    border: 2px solid black;
    margin: 5px;
    border-radius: 5px;
}
.count-button:hover {
    width: 100%;
    font-size: 2em;
    border: 2px solid blue;
    color: blue;
    margin: 5px;
    border-radius: 5px;
}